.App {
  /*text-align: center;*/
}

.App h2 {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  line-height: 50px;
  vertical-align: top;
}

.iframe {
  display: block;
  width: 95%;
  margin: 0 auto;
}

.contents {
  font-size: 1.8em;
  padding: 10px;
  margin: 0 auto;
  /*max-width: 740px;*/
  /*padding: 64px 0;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-header a {
  font-size: 2.5em;
  color: blue;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
